doctype html 
html(lang="ko")
    head
        title #{pageTitle} | #{siteName}
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    body
        header
            h1 
                a(href="/") Webtube
            h2 #{pageTitle}
            nav 
                if loggedIn 
                    small hello #{user.username}
                ul 
                    if loggedIn
                        li
                            a(href="/users/logout") Logout
                        li
                            a(href="/users/edit") Edit #{user.username}'s profile
                        li
                            a(href="/videos/upload") Upload Video
                    else
                        li 
                            a(href="/login") Login
                        li 
                            a(href="/join") Create User
                    li
                        a(href="/search") Search Video
        main
            block content
    include partials/footer