extends base.pug
block content 
    video(src="/"+video.videoUrl, controls)
    h2=video.title
    p=video.description
    small=video.createdAt
    br
    small Created by 
        a(href=`/users/${video.owner._id}`) #{video.owner.name}
        #{video.owner.name}
    hr
    h3 #{video.meta.views} #{video.meta.views === 1?"view":"views"}
    ul 
        each hashtag in video.hashtags
            li 
                a(href="") #{hashtag}
    if String(video.owner._id) === String(user._id)
        a(href= video.id +"/edit") Edit video &rarr;
        br
        a(href= video.id+"/delete") Delete video &rarr;
