extends base.pug
block content 
    p=video.description
    small=video.createdAt
    hr
    h3 #{video.meta.views} #{video.meta.views === 1?"view":"views"}
    ul 
        each hashtag in video.hashtags
            li 
                a(href="") #{hashtag}

    a(href= video.id +"/edit") Edit video &rarr;
    br
    a(href= video.id+"/delete") Delete video &rarr;
